body {
    font-family: Great Vibes,  cursive; /* Семейство шрифтов */
    font-size: 22px; /* Размер основного шрифта в <p></p>  */
    background-color: #F5F0E6 ; /* Цвет фона веб-страницы */
    color: #3E2723; /* Цвет основного текста */ 
}
h1 { 
    color: #3E2723; /* Цвет заголовка */
    font-size: 28px; /* Размер шрифта в пунктах */
    font-family: Great Vibes; /* Семейство шрифтов */
}

h2 { 
    color: #3E2723; /* Цвет заголовка */
    font-size: 38px; /* Размер шрифта в пунктах */
    font-family: Great Vibes; /* Семейство шрифтов */
}